* {
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}


/*  Dark Mode  */
.dark-mode {
    background-color: #000000;
    color: #ffffff;
} 

.container {
    width: fit-content;
    position: relative;
    left: 5px;
    top: -5px;
}

.container i {
    color: yellow;   
}

button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* responsive section*/

nav.responsive {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 5px 0;
}

/*  Header */
.contenido-header {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #0f0f0f;
    height: 95px;
    padding: 0 15px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.contenido-header ul {
    display: flex !important;
    text-align: center;
}

.contenido-header ul li {

    text-decoration: none;
}

.contenido-header ul li a {
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: 0.5s;
}

.contenido-header ul li a {
    text-decoration: none;
    color: #ffffff;
}

.contenido-header ul li a:hover {
    color: #ff5080;
}

.contenido-header ul li a .selected {
    color: #ff5080;
}

.contenido-header ul li a .selected:hover {
    color: #fff;
}

.contenido-header h1 {
    font-family: "Montserrat", sans-serif;
    color: #ff5080;
    font-size: 2em;    
}

/*  Main */
#home .presentacion {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(213, 12, 35, 0.178) 1%, rgba(1, 0, 46, 0.103) 52%, rgba(7, 108, 202, 0.709) 100%);
    background-size: cover;
    background-position: center center;
    background-size: 400% 300%;
    animation: bgGradient 5s ease infinite;
}

@keyframes bgGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#home .presentacion .foto {
    display: flex;
    justify-content: center;
}

#home .presentacion .foto img {
    width: 70%;
    border-radius: 100%;
    margin-top: 90px;
}

#home .presentacion .inicio .bienvenida {
    font-size: 35px;
    font-weight: 500;
    margin-top: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 4px;
}

#home .presentacion .inicio h2 {
    font-size: 30px;
    text-align: center;
    max-width: 700px;
    margin-top: 10px;
}

#home .presentacion .inicio h2 span {
    display: block;
    color: #f80a49;
    max-width: 700px;
    font-size: 30px;
    text-align: center;
}

#home .presentacion .inicio .descripcion {
    text-align: center;
    margin: 15px;
    padding: 1em;
    font-size: 30px;
    line-height: 30px;
}

#home .presentacion .inicio .cv {
    display: flex;
    justify-content: center;
}

#home .presentacion .inicio .cv a {
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
    color: #000000;
   
}
#home .presentacion .inicio .cv a:hover {
    background-color: #ff5080;
}

/*  Contacto  */
#contacs {
    max-width: 100vw;
    max-height: 100vh;
    background-image: linear-gradient(rgba(175, 89, 158, 0.3), rgba(235, 110, 110, 0.5));
    background-size: cover;
}

#contacs .title {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 30px;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacs p {
    text-align: center;    
    font-size: 25px;
    line-height: 30px;
    padding: 1.3em 1em;
    margin-top: 1.2em;
}

#contacs p .front {
    color: #f80a49;    
}

/*  Footer  */
footer {
    min-width: 100vw;
    height: 50px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #af599e;
    text-align: center;
    height: 80px;
}

footer a {
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 26px;
    color: #000;
}

footer p {
    font-size: 20px;
}

footer a:hover {
    color: #f80747;
}

@media only screen and (min-width: 1024px) {
    /*  Header  */
    .container {
        width: fit-content;
        position: fixed;
        left: 950px;
        top: 25px;

    }

    .contenido-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100vw;
        height: 70px;
    }

    .contenido-header h1 {
       font-size: 2.5em;
       margin-left: 2em;
    }

    .contenido-header ul {
        list-style: none;       
        display: flex;
        margin: 0 2em;
        
    }

    .contenido-header ul li {
        text-decoration: none;
        font-size: 18px;

    }

    /*  Main  */
    #home {
        max-width: 100vw;
    }
    #home .presentacion {
        display: grid;
        grid-template-columns: 1fr 3fr;
        flex-direction: row;       
        gap: 2em;
    }

    #home .inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        gap: 1em;
    }

    #home .presentacion .foto {
        width: 100%;
        display: flex;
        align-items: start; 
        height: 100%;       
    }

    #home .presentacion .foto img{
        border: 4px solid;
        width: 100%;
        margin-top: 150px;
        margin-left: 6em;
    }

    #home .presentacion .inicio .bienvenida {
        font-size: 50px;
        margin-top: 110px;
    }

    #home .presentacion .inicio h2 {
        padding-top: 20px;
        font-size: 40px;
    }

    #home .presentacion .inicio h2 span {
        font-size: 40px;
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    #home .presentacion .inicio .descripcion {
        margin: 0 20px;
        padding: 10px 50px;
        font-size: 30px;
        line-height: 40px;
    }

    #home .presentacion .inicio .cv a {
        margin-top: 30px;
    }

    #home .presentacion .inicio .cv a:hover {
        background-color: #ff5080;
    }

    /*  contacto */
    #contacs {
        max-height: 100vh;  
        min-width: 100vw;     
    }

    #contacs .title {
        font-size: 45px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-top: 110px;
    }

    #contacs p {
        margin-top: 60px;
        padding: 0 200px;
        padding-bottom: 150px;
        line-height: 40px;
    }

    footer {
        max-width: 100vw;
    }
}